body{
    background-color:#e2dbd3;
}

h1 {
    color: #6e9698;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 6px solid #6e9698;
    padding: 20px;
}

h2 {
    color:#6e9698;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    padding:80px 30px 20px 30px;
    border-bottom: 2px dashed #003c56;
}

h3 {
    color:#d8595a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80%;
    margin: 20px 30px;
}

p {
    color: #003c56;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}

b{
    color: #d8595a;
    font-weight:bold;
    font-size:20px;
}

li.sub{
    font-size:20px;
}

#linkedin {
    margin-left: 30px;
}